@font-face {
	font-family: mobelish;
	src: url(mobelish.otf);
}

div {
	padding: 25px;
}

p {
	font-size:18px;
}

table {
	width:100%;
}

td {
	text-align:center;
}

.phonetic {
	font-size:26px;
}

.mobelish {
	font-family: mobelish;
}

.letter {
	font-family: mobelish;
	font-size: 46px;
}

.lettername {
	font-family: mobelish;
	font-size: 26px;
	padding-bottom:35px;
}