@font-face {
	font-family: mobelish;
	src: url(mobelish.otf);
}

div {
	padding: 5px 35px;
}

p {
	font-size:18px;
}

td {
	text-align:center;
	font-size:22px;
	padding-bottom:10px;
}

li,dd,dt {
	font-size:22px;
}

.hidden {
	text-align:center;
	color:white;
}

.phonetic {
	font-size:26px;
}

.mobelish {
	font-family: mobelish;
	text-decoration: none;
}

.letter {
	font-family: mobelish;
	font-size: 46px;
}

.lettername {
	font-family: mobelish;
	font-size: 26px;
	padding-bottom:35px;
}

.cardm {
	font-family: mobelish;
	font-size: 46px;
	text-align: center;
}

.carde {
	font-size: 46px;
	text-align: center;
}